############################
# Folders
############################

.cache
.idea
.temp
.tmp
build
dist
git-release
nbproject
node_modules
ssl
static
temp

############################
# Files
############################

*.html
*.min.*
_variables.scss
package-lock.json
u-debugger.scss
u-show-grid.scss
