{% extends "./layout-default.html" %}

{% set pageData = {
  page_id: '404',
  template: 'index'
} %}

{% set open_graph = {
  use: 'false'
} %}

{% set twitter_cards = {
  use: 'false'
} %}

{% set seo = {
  title: '404 Page Not Found — Gulp DevStack',
  robots: 'noindex,follow',
  iclude_to_sitemap: 'false'
} %}

{% block content404 %}

  <main class="py-5">
    <div class="container">
      <h1 class="display-1 mb-5">Oops!</h1>
      <p class="lead">We can’t seem to find the page you’re looking for.</p>
      <p>
        <strong>Error code: 404</strong>
      </p>
    </div>
  </main>

{% endblock %}
