{% extends "./layout-default.html" %}

{% set pageData = {
  page_id: 'home',
  template: 'index'
} %}

{% block content %}

  {% if hero %}
    <main class="o-main py-5">
      <div class="container pt-md-4 pb-md-3">
        {% if hero.title is defined and hero.title | length > 0 %}
          <h1 class="display-4 mb-4">{{ hero.title | safe }}</h1>
        {% endif %}
        {% if hero.excerpt is defined and hero.excerpt | length > 0 %}
          <div class="lead mb-3 mb-md-4 col-12 col-lg-7">{{ hero.excerpt | md | safe }}</div>
        {% endif %}
        {% if hero.content is defined and hero.content | length > 0 %}
          <div class="col-12 col-lg-7">{{ hero.content | md | safe }}</div>
        {% endif %}
      </div>
    </main>
  {% endif %}

  {% if body %}
    <div class="container pt-5">
      <div class="c-article">
        {{ body | safe }}
      </div>
    {% endif %}
  </div>

{% endblock %}
