{% if seo.robots is defined and seo.robots | length > 0 %}
  <meta name="robots" content="{{ seo.robots }}">
{% elseif SITE.seo.robots is defined and SITE.seo.robots | length > 0 %}
  <meta name="robots" content="{{ SITE.seo.robots }}">
{% endif %}

{% if seo.canonical_self is defined and seo.canonical_self | length > 0 %}
  <link rel="canonical" href="{{ SITE.baseUrl|trim }}{{ seo.canonical_self|trim }}">
{% endif %}

{% if canonical is defined and seo.canonical | length > 0 %}
  <link rel="canonical" href="{{ SITE.baseUrl|trim }}{{ canonical|trim }}">
{% endif %}

{% if (seo.title is defined and seo.title | length > 0)
  or(title is defined and title | length > 0) %}
  <title>{{ (seo.title or title) | striptags | trim }}</title>
{% elseif SITE.seo.title is defined and SITE.seo.title | length > 0 %}
  <title>{{ (SITE.seo.title ) | striptags | trim }}</title>
{% endif %}

{% if (seo.description is defined and seo.description | length > 0)
  or(description is defined and description | length > 0) %}
  <meta name="description" content="{{ (seo.description or description) | striptags | trim }}">
{% elseif SITE.seo.description is defined and SITE.seo.description | length > 0 %}
  <meta name="description" content="{{ SITE.seo.description | striptags | trim }}">
{% endif %}

{% if SITE.meta.author is defined and SITE.meta.author | length > 0 %}
  <meta name="author" content="{{ SITE.meta.author | striptags | trim }}">
{% endif %}
