@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';

// Obecné formátování obsahu článků
// --------------

.c-article {
  color: map-get($grays, '700');

  // stylelint-disable plugin/selector-bem-pattern
  a:not(.btn) {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  h2 {
    margin-bottom: 1rem;
    font-weight: $font-weight-normal;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  li:not(:last-child) {
    margin-bottom: 0.15rem;
  }
  // stylelint-enable plugin/selector-bem-pattern
}

// Vnitřní formátování obsahu článků
// --------------

.c-article.c-article--detail {
  color: $blue;
}
