@charset "utf-8";

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';

// Přetížení Bootatrapu
// --------------

// Set minimum reasonable width on very small devices
body {
  min-width: 320px;
}

// Remove viod in the bottom of the alert component
.alert {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

// Reset for SVG images in `<img src=""`
img:not([src$='.svg']) {
  max-width: 100%;
  height: auto;
}

// Záhlaví webu
// --------------

.o-header {
  padding: map-get($spacers, 3);
  color: theme-color('light');
  background-color: map-get($colors, 'pink');
}

// Hlavní obsah
// --------------

.o-main {
  background-color: theme-color('light');
}

// Zápatí webu
// --------------

.o-footer {
  padding-top: map-get($spacers, 5);
  padding-bottom: map-get($spacers, 3);
  color: map-get($grays, '600');
}

// Importy komponent
// --------------

@import 'c-article';
