@use 'sass:map';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/mixins';
@import './variables';
@import './temp/assets/css/fonts';

// Importy komponent
// --------------

@import 'c-article';

// Přetížení Bootatrapu
// --------------

// Set minimum reasonable width on very small devices

body {
  --orange: #ff8442;
  --red: #ed0b36;
  --bs-light: #eef3fc;
  --bs-body-color: #0a1d39;

  min-width: 320px;
}

// Remove viod in the bottom of the alert component
.alert {
  p:last-child,
  ol:last-child,
  ul:last-child {
    margin-bottom: 0;
  }
}

// Reset for SVG images in `<img src=""`
img:not([src$='.svg']) {
  max-width: 100%;
  height: auto;
}

// Záhlaví webu
// --------------

.o-header {
  color: var(--bs-white);
  background-color: var(--bs-body-color);
}

.navbar-brand {
  color: var(--orange);

  &:hover {
    color: var(--red);
  }
}

.nav-link {
  color: var(--bs-white);

  &:hover {
    color: var(--red);
  }
}

// Hlavní obsah
// --------------

.o-main {
  background-color: var(--bs-light);

  h1 {
    padding-bottom: 0.5rem;
    line-height: 0.9;
    letter-spacing: 0.15rem;

    // prettier-ignore
    background-image: linear-gradient(130deg, var(--red) 20%, var(--orange) 40%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Zápatí webu
// --------------

.o-footer {
  padding-top: map.get($spacers, 5);
  padding-bottom: map.get($spacers, 3);
  color: map.get($grays, '600');
}
